Language: C
BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 0
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
PointerAlignment: Right
SortIncludes: CaseSensitive
ReflowComments: true
